<div class='col-12 col-md-6 mx-auto'>
<div class='card {% if not partner.company_name %} bg-dark text-light {% endif %}'>
	<div class='card-body'>
			<a href="{{ partner.get_absolute_url }}"></a>
		<h5 class='card-title'>{{ partner.company_name }}</h5>
		<p class='card-text'>
				{{ partner.surname}}
				{{ partner.name}}
				{{ partner.patronymic}}
	    </p>
		{% if not detail %}
			{% if not partner.company_name %} Draft {% endif %}
				<a href="{{ object.get_edit_url }}">Edit</a>
				<a href="{{ object.get_delete_url }}">Delete</a>
		{% endif %}
	</div>
</div>
</div>